*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer {
  margin-top: auto;
  text-align: center;
}
